:root {

  --main-bg-color: #ffffff;
  --secondary-color: darkcyan

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--secondary-color);
  background-color: var(--main-bg-color);



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.appContainer {
  display: flex;
  padding: 2em;
}





.cvDisplay {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: fit-content;
  border: solid black 1px;
  min-width: 50rem;
  min-height: 60em;
}

.cvSideBar {
  color: white;
  background-color: darkcyan;
  padding: 1em;
}

h1 {
  border-bottom: solid 2px darkcyan;
  padding-bottom: 0.25em;
  margin: 0.5em 0.25em;
  color: darkcyan;
  text-align: center;
}

.cvBody {
  text-align: left;
  height: fit-content;
}

.cvDisplay h2 {
  border-bottom: solid 2px darkcyan;
  padding-bottom: 0.25em;
  margin: 0.5em 0.25em;
  color: darkcyan;
}

.workDates {
  font-weight: normal;
}

.cvDisplay h3 {
  margin-bottom: 0;
  border-bottom: solid white 1px;
}
.cvDisplay h4 {
  margin-top: 0;
}

.cvEntry {
  padding: 0rem 0.5rem;
}

.infoCont > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.Icon {
  background-color: white;
  color: darkcyan;
  padding: 1px;
  border-radius: 50%;
}

.cvSideBar ul {
  padding-left: 25px;
}

.cvInputListItem {
  border: solid black 1px;
  border-radius: 1%;
  padding: 1.5em;
  margin: 1em 1em;
  display: flex;
  flex-direction: column;
}

.removeInputListItemBtn {
  min-width: 0;
  width: 5px;
  height: 5px;
  font-size: 12px;
  background: none;
  border-color: #00000036;

  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
  padding: 6px 6px;
  align-self: flex-end;
}

.inputCont li {
  list-style: none;
}

.InputTextBox {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.addToListBtn {
  height: auto;
  width: auto;
  padding: 3px;
  min-width: 0;
}


