.cvDisplay {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: fit-content;
  border: solid black 1px;
  min-width: 50rem;
  min-height: 60em;
}

.cvSideBar {
  color: white;
  background-color: darkcyan;
  padding: 1em;
}

h1 {
  border-bottom: solid 2px darkcyan;
  padding-bottom: 0.25em;
  margin: 0.5em 0.25em;
  color: darkcyan;
  text-align: center;
}

.cvBody {
  text-align: left;
  height: fit-content;
}

.cvDisplay h2 {
  border-bottom: solid 2px darkcyan;
  padding-bottom: 0.25em;
  margin: 0.5em 0.25em;
  color: darkcyan;
}

.workDates {
  font-weight: normal;
}

.cvDisplay h3 {
  margin-bottom: 0;
  border-bottom: solid white 1px;
}
.cvDisplay h4 {
  margin-top: 0;
}

.cvEntry {
  padding: 0rem 0.5rem;
}

.infoCont > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.Icon {
  background-color: white;
  color: darkcyan;
  padding: 1px;
  border-radius: 50%;
}

.cvSideBar ul {
  padding-left: 25px;
}
